# Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.so
.env

# Large files
*.pkl
# Environment & package management
03-Orchestration/airflow_db/logs/
03-Orchestration/airflow_db/airflow.db

# Postgres data
pg_data/
